<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">About</a></li>
                <li class="nav-item"><a href="{{url_for('hobbies')}}" class="nav-link">Hobbies</a></li>
                <li class="nav-item"><a href="{{url_for('skills')}}" class="nav-link">Skills</a></li>
                <li class="nav-item"><a href="{{url_for('experience')}}" class="nav-link">Experience</a></li>
            </ul>
        </header>
    {% block content %}{% endblock %}
</body>
</html>