{% extends "base.html" %}
{% block title %} Experience {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card experience-card">
        <div class="card-body">
            <h2 class="card-title text-center">Work Experience</h2>
            <p class="card-text">
                I completed an internship at <strong>Mando Technologies</strong> in Frisco, Texas, where I worked as a <strong>Data Engineer</strong>. During my time there, I gained valuable experience in data management, analysis, and engineering, contributing to various projects that enhanced my technical skills and understanding of data-driven solutions.
            </p>
            <h4>Description</h4>
            <p class="card-text">
                I was responsible for designing, developing, and maintaining data pipelines and architectures. My role involved collaborating with data scientists and analysts to ensure the efficient processing and storage of large datasets, as well as optimizing data workflows for better performance and scalability.
            </p>
        </div>
    </div>
</div>
{% endblock %}